<ion-nav-view title="List" name="list" ng-controller="ListController">
    <header class="bar bar-header bar-positive">
        <button class="button button-assertive" ng-click="goBackState()" translate>BACK</button>
    </header>

  <ion-content class="has-header padding" style="height: 80vh">
	<div class="list" ng-if="messages.length > 0">
        <li class="item item-text-wrap no-border" ng-repeat="msg in messages">
            <div class="row">
            	<div class="col">
            		<span translate>MSGTITLE</span>
                	<h3>{{ msg.title }}</h3>
                </div>
                <div class="col">
                	<span translate>MSGBODY</span>
                	<p>
                    	<div class="message">{{ msg.body }}</div>
                	</p>
                </div>
            </div>
        </li>
    </div>

  </ion-content>
  
</ion-nav-view>